/*
*
* {{ properCase name }}
*
*/

import  React from 'react'
import PropTypes from 'prop-types'

// import { inject, observer } from 'mobx-react'
// import Link from 'next/link'

{{#if wantMessages}}
import { FormattedMessage } from 'react-intl'
import messages from './messages'
{{/if}}

class {{ properCase name }} extends React.Component {
  componentDidMount() {}

  componentWillUnmount() {}

  render() {
    return (
      <div>
        <h3>{{ properCase name }} class component!</h3>
        {{#if wantMessages}}
          <FormattedMessage {...messages.header} />
        {{/if}}
      </div>
    )
  }
}

export default {{ properCase name }}

{{ properCase name }}.propTypes = {
  // https://www.npmjs.com/package/prop-types
}

Index.defaultProps = {}
